$pink : #F53B6A;
$font-stack : 'Raleway', Arial, sans-serif;
// body {
// 	//width: 940px;
// 	margin: 0 auto;
// 	background-color: whitesmoke;
// }
.promoWrap {
	width: auto;
	margin: 0 auto;
	overflow-y: hidden;
	width: 765px;
	overflow-x: hidden;
	//background-color: whitesmoke;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	* {
		font-family: $font-stack;
	}
}
.promoItem {
	float: left;
	position: relative;
	overflow: visible;
	width: 120px;
	margin-right: 25px;
	&:first-child {
		margin-left: 50px;
	}
	&:last-child {
		margin-right: 0;
	}
}

$offset : 16px -15px 10px -33px -22px;
$inactiveOffset: 5px 8px -2px -6px -20px;
$rotate : 3deg -3deg 5deg -5deg 7deg;
$z-index : 2 3 2 1 2 ;
@each $item in $rotate {
	$i: index($rotate, $item);
	.promoItem:nth-child(#{$i}) .promoImage {
		left: nth($offset, $i);
		@include transform(rotate(#{$item}));
		z-index: nth($z-index, $i);
		@include transform-origin(50%, 0%);
	}
	.promoItem:nth-child(#{$i}) .inactiveMessage {
		position: relative;
		left: nth($inactiveOffset, $i);
		z-index: 4;
	}
}

.promoImage {
	float: left;
	position: relative;
	cursor: pointer;
	//opacity: .3;
	top: -20px;
	.active & {
		//top: -270px;
	}
}
.promoContainer {
	position: absolute;
	top: 105px;
	opacity: 0;
	.inactive & {
		display: none;
	}
	.btn-primary--pink {
		margin-top: 7px;
	}
}

.promoCode {
	line-height: 2.3;
	margin-bottom: 8px;
	text-align: center;
}
.active {
	//background-color: greenyellow;
	.inactiveMessage {
		display: none;
	}
}

.inactiveMessage {
	box-sizing: border-box;
	padding: 10px 10px 6px 10px;
	opacity: 0;
	height: 65px;
	float: left;
	background-color: #72B4AC;
	border: 1px solid darken(#72B4AC, .75);
	@include box-shadow(rgba(#888, .5) 0px 5px 2px -4px);
	border-radius: 5px;
	p {
		text-align: center;
		text-transform: uppercase;
		font-size: 12px;
		color: #F9F5E3;
		font-family: 'Raleway', Arial, sann-serif;
	}
	span {
		font-size: 16px;
		padding-top: 7px;
		display: block;
	}
	&:before {
		opacity: 1;
		position: absolute;
		width: 4px;
		height: 20px;
		background-color: #6A431E;
	}
}

.btn-primary--pink {
	font-family: $font-stack;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	color: $pink;
	border: 2px solid $pink;
	padding: 4px 18px;
	text-decoration: none;
	&:hover {
		text-decoration: none;
		color: darken($pink, 25);
		border: 2px solid darken($pink, 25);
	}
}

.promoText {
	width: 730px;
	margin: 0 auto;
}

.hgroup {
	width: 520px;
	margin: 0 auto;
}

.heading__promo-h1, .heading__promo-h2, .text__body-copy {
	font-family: $font-stack;
}

.headding__promo-h1, .heading__promo-h2 {
	//float: left;
	text-transform: uppercase;
}

.heading__promo-h1 {
	color: #626262;
	float: left;
	font-size: 64px;
}

.heading__promo-h2 {
	color: #fff;
	background-color: #000;
	padding: 8px 20px;
	float: left;
	top: 11px;
	position: relative;
	margin-left: 12px;
}

.text__body-copy {
	margin: 24px 0 30px 0;
	line-height: 1.3;
	clear: both;
	text-align: center;
}

.social { 
	width: 450px;
	margin: 0 auto;
	margin-bottom: 45px;
}

.btn-cta {
	float: left;
	margin-right: 20px;
	* {
		float: left;
	}
	span {
		position: relative;
		top: 10px;
		margin-left: 8px;
	}
}

.share__social {
	float: left;
	p {
		font-family: $font-stack;
		margin-bottom: 5px;
	}
}

.share__social-icons {
	margin: 0 auto;
	width: 85px;
	.share__icon {
		cursor: pointer;
		margin-right: 3px;
	}
	a:last-child {
		margin-right: 0;
	}
}

#legalContainer {
	height: 0;
	overflow: hidden;
}

.cheer-stripes {
	position: relative;
	width: 100%;
	height: 17px;
	background-image: url('../images/cheer-stripes.png');
	background-repeat: repeat-x;
	z-index: 100;
	&:first-of-type {
		@include box-shadow(rgba(#888, .5) 0px 5px 2px -4px);
	}
}